@import '../../styles/variables.scss';

header {
  position: absolute;
  width: 100%;
  z-index: 9999;
  transition: background-color $duration;
  transform: translateX(0);
  top: 30px;
  @include media-screen-min-1024 {
    top: 52px;
  }
  // header
  .container {
    margin: 0 auto;
    padding-inline: 24px;
    @include media-screen-min-768 {
      padding-inline: 32px;
    }
    @include media-screen-min-1280 {
      padding-inline: 44px;
    }
  }

  .cards-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    background-color: #8BCCFE26;
    width: 100%;
    border-radius: 16px;
    padding: 20px;
    @include media-screen-max-1024 {
      justify-content: space-between;
    }
    @include media-screen-min-1024 {
      gap: 40px;
      padding: 35px 25px;
      justify-content: space-between;
    }
    @include media-screen-min-1280 {
      gap: 80px;
      padding: 35px;
      justify-content: unset ;
    }
    @include media-screen-min-1440 {
      gap: 150px;
      padding: 35px 111px;
    }
  }
  // logo
  .header-logo {
    width: 125px;
    height: 46px;
    z-index: 90;
    @include media-screen-min-1024 {
      width: 153px;
      height: 36px;
    }
    @include media-screen-min-1280 {
      width: 183px;
      height: 46px;
    }
    @include media-screen-min-1280 {
      width: 183px;
      height: 46px;
    }
    img, svg {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  // burger menu
  .burger-menu {
    width: 30px;
    height: 20px;
    z-index: 10;
    cursor: pointer;
    transform: translate3d(0, 0, 0);
    flex-shrink: 0;
    border: none;
    background: transparent;
    padding: 0;

    @include media-screen-min-1024 {
      display: none;
    }

    &:focus {
      outline: none !important;
    }

    span {
      display: block;
      width: 100%;
      height: 3px;
      margin-bottom: 5px;
      position: relative;
      z-index: 1;
      transition: color $duration;
      color: black;

      &:after, &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $midnight-depth;
        opacity: .99;
        transition: background-color $duration;
        display: table;
        border-radius: 10px;
      }

      &:nth-of-type(even) {
        &:before {
          transform-origin: right;
          transform: scaleX(0) translateZ(0);
          transition: transform .6s cubic-bezier(.165, .84, .44, 1);
        }

        &:after {
          transform-origin: left;
          transform: scaleX(1) translateZ(0);
          transition: transform .6s cubic-bezier(.165, .84, .44, 1) .2s;
        }
      }

      &:before {
        transform-origin: right;
        transform: scaleX(1) translateZ(0);
        transition: transform .6s cubic-bezier(.165, .84, .44, 1) .2s;
      }

      &:after {
        transform-origin: left;
        transform: scaleX(0) translateZ(0);
        transition: transform .6s cubic-bezier(.165, .84, .44, 1);
      }

      &:last-child {
        margin: 0 auto;
      }

      &:first-child {
        margin: 0 auto 5px;
      }
    }

    &:hover {
      span {

        &:nth-of-type(even) {
          &:before {
            transform: scaleX(1) translateZ(0);
            transition: transform .6s cubic-bezier(.165, .84, .44, 1) .2s;
          }

          &:after {
            transform: scaleX(0) translateZ(0);
            transition: transform .6s cubic-bezier(.165, .84, .44, 1);
          }
        }

        &:before {
          transform: scaleX(0) translateZ(0);
          transition: transform .6s cubic-bezier(.165, .84, .44, 1);
        }

        &:after {
          transform: scaleX(1) translateZ(0);
          transition: transform .6s cubic-bezier(.165, .84, .44, 1) .2s;
        }

      }
    }

  }

  // links
  .navbar {
    position: relative;
    align-items: center;
    flex-direction: row;
    @include media-screen-max-1024 {
      margin-top: -30px;
    }
    //margin-left: auto;

    @include media-screen-max-1024 {
      position: fixed;
      top: 0;
      left: 0;
      transform: translateX(-100%);
      width: 100%;

      transition: transform 300ms ease-in;
    }

    &.header-links-active {
      transform: translateX(0);

      &:before {
        opacity: 0.6;
      }
    }
  }

  .navbar-wrapper {
    padding-block: 150px 100px;
    padding-inline: 44px;
    background: $white;
    width: 100%;
    height: 100vh;
    //height: 100 dvh;
    transition: padding $duration;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    gap: 32px;
    @include media-screen-min-1024 {
      gap: 12px;
      background-color: transparent;
      padding: 0;
      width: auto;
      height: auto;
      overflow: visible;
      flex-direction: row;
      align-items: center;
    }
    @include media-screen-min-1440{
      gap: 32px;
    }
  }

  .primary-menu {
    display: flex;
    flex-direction: column;
    gap: 40px;
    @include media-screen-min-992 {
      gap: 30px;
    }
    @include media-screen-min-1024 {
      align-items: center;
      flex-direction: row;
    }
    @include media-screen-min-1280 {
      gap: 40px;
    }
  }

  .menu-item {
    position: relative;
    cursor: pointer;
    width: fit-content;
    color: $midnight-depth;
    transition: color 0.3s linear;
    list-style: none;
    &:after {
      position: absolute;
      content: "";
      width: 0;
      height: 5px;
      left: 50%;
      transform: translate(-50%);
      border-radius: 15px;
      bottom: -15px;
      background-color: currentColor;
      transition: width 0.3s linear;
    }

    &:before {
      //content: 'Home'; /* duplicate the text */
      content: 'Home'; // This pulls from the data-text attribute
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%) scale(0.9);
      font-family: $Somar;
      color: currentColor;
      z-index: 2;
      opacity: 0;
      font-size: 32px;
      font-weight: 800;
      line-height: 155%;
      transition: opacity 0.3s , transform 0.3s linear;
    }

    .header-link {
      color: currentColor;
      position: relative;
      z-index: 2;
      overflow: hidden;
      font-weight: 100;
      transition: opacity 0.3s linear , transform 0.3s linear , color 0.3s linear;
      line-height: 155%;
      transform: scale(1);
      @include media-screen-min-1024 {
        display: block;
      }
    }

    &:hover {
      color:$skybolt-blue;
      &:after {
        width: 28px;
      }
      &:before {
        opacity: 1;
        transform: translate(-50%,-50%) scale(1);
      }
      .header-link {
        opacity: 0;
        transform: scale(1.1);
      }
    }

    }

  &.dark-header {

    .burger-menu {
      span {
        &:after, &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: $frosted-sky;
          opacity: .99;
          transition: background-color $duration;
          display: table;
          border-radius: 10px;
        }
      }

      &:hover {
        span {
          &:nth-of-type(even) {
            &:before {
              transform: scaleX(1) translateZ(0);
              transition: transform .6s cubic-bezier(.165, .84, .44, 1) .2s;
            }

            &:after {
              transform: scaleX(0) translateZ(0);
              transition: transform .6s cubic-bezier(.165, .84, .44, 1);
            }
          }

          &:before {
            transform: scaleX(0) translateZ(0);
            transition: transform .6s cubic-bezier(.165, .84, .44, 1);
          }

          &:after {
            transform: scaleX(1) translateZ(0);
            transition: transform .6s cubic-bezier(.165, .84, .44, 1) .2s;
          }

        }
      }

    }

    .menu-item {
      color: $frosted-sky;
      &:hover {
        color: $sky-breeze;
      }
    }
    .navbar-wrapper {
      @include media-screen-max-1024 {
        background-color: $midnight-depth;
      }
    }

  }

}


#wpadminbar {
  display: none;
}