@import '../../styles/variables.scss';
.our_values_block {
  padding-block: 50px;
  @include media-screen-min-1024 {
    padding-block: 135px 224px;
  }
  .site-shape {
    position: absolute;
    right: 0;
    bottom: 0;
    height: auto;
    width: 35.37%;
    @include media-screen-max-768 {
      display: none;
    }
  }
  .values-description {
    gap: 80px;
    margin-top: 80px;
    @include media-screen-min-1280 {
      padding-left: 98px;
    }
    body.rtl & {
      padding-left: 0;
    }
  }
  .values-wrapper {
    display: grid;
    row-gap: 70px;
    column-gap: 70px;
    grid-template-columns: repeat(1,1fr);
    @include media-screen-min-992 {
      grid-template-columns: repeat(2,1fr);
    }
    @include media-screen-min-1280 {
      column-gap: 217px;
    }
    @include media-screen-max-992 {
      max-width: 430px;
    }
    .values-card {
      display: flex;
      gap: 22px;
      .index-card {
        position: relative;
        .index {
          position: absolute;
          @include media-screen-max-768 {
            font-size: 25px;
          }
        }
        .svg-card {
          @include media-screen-max-600 {
            width: 50px;
            height: 50px;
          }
        }
        body.rtl & {
          transform: scaleX(-1);
          .index , .svg-card {
            transform: scaleX(-1);
          }
        }
      }
    }
  }
}
