@import '../../styles/variables.scss';
.page-not-found {
  padding-block: 100px;
  .content-wrapper {
    gap: 50px;
    .main-cta-button {
      margin-inline: auto;
      border: transparent;
      min-height: 50px;
    }
  }
  .main-title {
    font-size: 80px;
  }
}
