@import '../../styles/variables.scss';
.our_mission_block {
  background-color: $sky-breeze;
  padding-block: 80px;
  @include media-screen-min-1024 {
    padding-block: 147px 167px;
  }
  .content {
    gap: 28px;
    width: 100%;
    @include media-screen-min-992 {
      width: 79.75%;
    }
  }
  .title {
    color: $midnight-depth;
  }
  .description {
    p {
      color: $skybolt-blue;
    }
  }
}
