@import '../../styles/variables.scss';
footer {
  background:$frosted-sky;
  padding-block: 35px;
  @include media-screen-min-768 {
    padding-block: 39px 51px;
  }
  .horizontal-card {
    gap: 40px;
    @include media-screen-min-768 {
      gap: 80px;
    }
  }
  .footer-wrapper {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    @include media-screen-max-768 {
      gap: 40px;
    }
    @include media-screen-min-768 {
      flex-direction: row;
      gap: 160px;
    }
    .footer-logo-info {
      .header-logo {
        width: 115px;
        height: 60px;
      }
    }
    .right-content {
      display: flex;
      width: 100%;
      gap: 50px;
      @include media-screen-min-768 {
        width: 30.4%;
        justify-content: space-between;
      }
      @include media-screen-min-992 {
        width: 21.4%;
      }
      .links-wrapper {
        gap: 25px;
        .link {
          &:hover {
            color: #023568;
          }
        }
      }
    }
  }
  .copy-right-social-links {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 25px;
    @include media-screen-min-768 {
      align-items: center;
      flex-direction: row;
    }
    body.rtl & {
      flex-direction: row-reverse;
    }
    .privacy-policy {
      body.rtl & {
        direction: ltr;      }
    }
    .social-links-wrapper {
      display: flex;
      align-items: center;
      gap: 15px;
      .icon-wrapper {
        width: 17px;
        height: 17px;
        img {
          object-fit: contain ;
        }
      }
    }
  }
}