@import '../../styles/variables.scss';

.about_us_block {
  position: relative;
  height: 100vh;
  overflow: hidden;
  z-index: 4;
  .internal-content {
    position: absolute;
    //top: 14.32%;
    top: 116px;
    background-color: $skybolt-blue;
    padding: 30px;
    width: 70%;
    @include media-screen-min-768 {
      width: 48.47%;
    }
    @include media-screen-min-1024 {
      padding: 78px 71px 69px 121px;
    }
  }
}
