@import '../../styles/variables.scss';

.our_vision_block {
  background-color: $skybolt-blue;
  &:after {
    content: "";
    position: absolute;
    width: 3px;
    height: 24.4%;
    background: $midnight-depth;
    bottom: -11%;
    inset-inline-start: 18%;
    z-index: 1;
    @include media-screen-max-768 {
      display: none;
    }
  }
  @include media-screen-max-768 {
    padding-block: 60px;
  }
  .site-shape {
    position: absolute;
    top: 0;
    inset-inline-end: 0;
    width: 66%;
    height: auto;
    z-index: 1;
  }
  .cards-wrapper {
    display: flex;
    flex-direction: column;
    @include media-screen-min-768 {
      align-items: flex-end;
      justify-content: space-between;
      flex-direction: row;
    }
    @include media-screen-max-768 {
      padding-inline: 24px;
      gap: 50px;
    }
    @include media-screen-min-768 {
      padding-inline-end: 32px;
    }
    @include media-screen-min-1024 {
      padding-inline-end: 169px;
    }
    .left-image-card {
      width: 100%;
      @include media-screen-min-768 {
        width: 52.08%;
      }
      .left-image {
        padding-top: 125.73%;
      }
    }
    .right-content {
      width: 100%;
      gap: 25px;
      @include media-screen-min-768 {
        width: 41.62%;
        margin-bottom: 7.5%;
      }
      @include media-screen-min-1280 {
        margin-bottom: 17.5%;
      }
      .line {
        width: 202px;
        height: 3px;
        border-radius: 3px;
        background-color: $sky-breeze;
      }
    }
  }
}
