@import '../../styles/variables.scss';

.get_in_touch_block {
  @include media-screen-max-992 {
    padding-block: 60px;
  }
  .content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include media-screen-min-1280 {
      align-items: flex-start;
    }
    @include media-screen-min-992 {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    @include media-screen-min-992 {
      padding-left: 32px;
    }
    @include media-screen-min-1024 {
      padding-left: 120px;
    }
    .left-content {
      position: relative;
      width: 100%;
      gap: 40px;
      @include media-screen-max-992 {
        padding-inline: 24px;
      }
      @include media-screen-min-1024 {
        gap: 200px;
      }
      @include media-screen-min-992 {
        width:35.4%;
        padding-block: 50px;
      }
      @include media-screen-max-992 {
        margin-bottom: 50px;
      }
      .mail-info {
        gap: 11px;
        .email {
          display: flex;
          align-items: center;
          gap: 11px;
          .mail-svg {
            flex-shrink: 0;
            transition: fill $duration;
          }
          &:hover {
            color: $frosted-sky;
            .mail-svg {
              path {
                fill: $frosted-sky;
              }
            }
          }
        }
      }
    }
    .contact-us-form-wrapper {
      background-color: $skybolt-blue;
      width: 100%;
      padding: 90px 24px;
      gap: 30px;
      @include media-screen-min-992 {
        width:54.09%;
        padding: 110px 30px;
      }
      @include media-screen-min-1024 {
        padding: 112px 50px 136px 50px;
        gap: 60px;
      }
      @include media-screen-min-1280 {
        padding: 112px 131px 136px 124px;
      }
    }
  }
}
