@import '../../styles/variables.scss';

.map_block {
  padding-block: 139px 148px;
  .site-shape {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 40%;
    height: auto;
    max-width: 570px;
  }

  .content {
    margin-bottom: 70px;
    gap: 5px;
    .sub-title {
      position: relative;
      &:after {
        position: absolute;
        content: "";
        height: 3px;
        background-color: #1C3766;
        top: 50%;
        width: 22px;
        transform: translateY(-50%);
        right: calc(100% + 10px);
        @include media-screen-min-1280 {
          width: 62px;
          right: calc(100% + 58px);
        }
      }
    }
  }
}
